/* about page styling
*/

h1 {
    color:blue;
    text-align: center;
    font-size: 100px;
}
.container{
    display: flex;
}
h2{
 font-size: 40px
}
.container{
        height: 200px;
        width: 600px;
        padding: 7px;
        border-radius: 5px;
        display: flex;
}
.images{
    padding: 7px;
    margin: 10px 20px;
}
.container1{
    height: 300px;
    width: 760px;
    padding: 5px;
    border-radius: 5px ;
    display: flex;
}
.card{
    height: 224px;
    width: 224px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    }