/* amenities page styling
*/

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
}
@media screen and (max-width:600px) {
    .card{flex-direction: column; justify-content: center; align-items: center;}
    
}
.card1{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid grey;
}
.card1:hover{
    box-shadow: 0 2px 10px 2px grey;
    
}
img{
height: 50px;
width: 50px;
}
.info{
    padding:0 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-align: justify;
}
h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   text-align: center;
   color:rgb(11, 38, 92);
}
button{
    padding:8px 16px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 4px;
    background-color:rgb(11, 38, 92) ;
    margin-left: 550px;
    margin-top: 30px;
}
button:hover{
    box-shadow: 0 2px 10px 2px grey;
    border: 1px solid silver;
    background-color:  #3f9cc1;;
}
