h1{
    color:rgb(11, 38, 92) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

img{
    width: 40%;
    border-radius: 5px 5px 0 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top:20px;
}
.img:hover{
    box-shadow:0px 10px 20px rgba(0,0,0,0.5);
    width: 45%;
    transition: 1s;
}
.card {
    border-radius: 8px;
    padding: 20px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.5);
    display:flex ;
    justify-content: space-between;
    margin:20px;
    background-color: aliceblue;
}
.desc-sec{
    width: 40%;
    padding: 20px;
}
h2{
    font-size:28px;
    margin-bottom:8px
}
.content{
    font-size: 18px;
    padding: 5px;
}
body{
    position: absolute;
    z-index:1;
    top:0;
    left:0;
    background-color: rgb(221, 239, 255);
    padding: 0;
 
    margin: 0;
}

.imgs-container{
    padding: 25px;
    position: relative;
}
.img1{
    width: 450px;
}
.img2{
    width: 450px;
    margin: 0 20px;
    position: absolute;
    top: 45px;
}
.img3{
    width: 450px;
    margin: 0 20px;
    margin-bottom: 10px;
}
.img4{
    width: 500px;
}

.img1:hover{
    box-shadow: 5px 5px 20px 5px #f23030;
    transition: 0.5s;
  
}
.img2:hover{
    box-shadow: 5px 5px 20px 5px #f23030;
    transition: 0.5s;
}
.img3:hover{
    box-shadow: 5px 5px 20px 5px #f23030;
    transition: 0.5s;
}
.img4:hover{
    box-shadow: 5px 5px 20px 5px #f23030;
    transition: 0.5s;
}
