/* floorplan page styling
 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family : 'Roboto Slab', serif; 
} */

.card-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top:50px;
   
}
h1{
  font-size: 35px;
  text-align: center;
  margin-top:15px;
  color:rgb(11, 38, 92) ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.card{
   width:325px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow:0px 10px 20px rgba(0,0,0,0.5);
   margin:20px;
   z-index: 1001;
   border:1px solid black;
   
}
.card img{
   width:100%;
   height:200px;
}
.card img:hover{
  transform: scale(1.1);
  z-index:2;
}
.card-content{
   padding:16px;
}
.card-content h3{
   font-size:28px;
   margin-bottom:8px;
   text-align: center;
   color:rgb(11, 38, 92);
}
.card-content p{
   line-height:1.3;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 700;
}
.card-content .btn{
   display: inline-block;
   padding:8px 16px;
   background-color: rgb(11, 38, 92);
   text-decoration:none;
   border-radius: 4px;
   margin-top: 16px;
   margin-left: 77px ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.img{
   position: absolute;
   width:100vw;
   height:100vh;
   z-index:1;
   top:0;
   left:0;
  
   opacity:0.5;
}
.card-content .btn:hover{
  background-color:#3a9bbb;
 
}
