/* index page styling
*/
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
    color:rgb(5, 20, 49) ;
} 
.homepages{
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
    margin-top: 200px;

}
