/* review page styling
*/
.box1 h5, .box2 h5, .box3 h5, .box4 h5, .box5 h5, .box6 h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 10px;
}
 h5:hover{
  color:rgb(11, 38, 92) ;
  font-size: 11px;
}
.r1{
  margin:50px 0 200px 0;
}
.bg1{
    background-image: url("./../images/g1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  text-align:left;
  top: 90px;
} 

.bg1 .box1 {
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box1:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
.r2{
  margin:50px 0 200px 0;
}
.bg2{
  background-image: url("./../images/g2.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 480px;
position: relative;
text-align:left;
top: 90px;

}
.bg2 .box2 {
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  left: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box2:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
.bg3{
  
  background-image: url("./../images/g3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  text-align:left;
  top: 90px;
}
.bg3 .box3{
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box3:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
.bg4{
  
  background-image: url("./../images/g4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  text-align:left;
  top: 90px;
}
.bg4 .box4 {
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  left: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box4:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
.bg5{
  
  background-image: url("./../images/g5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  text-align:left;
  top: 90px;
}
.bg5 .box5 {
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box5:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
.bg6{
  
  background-image: url("./../images/g6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  text-align:left;
  top: 90px;
}
.bg6 .box6 {
  background: #3f9cc1;
  border-radius: 20px;
  padding: 50px;
  width: 30%;
  height: 400px;
  position: absolute;
  top: -13%;
  left: 10%;
  padding-top: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box6:hover{
  box-shadow: 0 0 10px 2px grey;
  color: #FFD43B;
}
  h1{
    color:rgb(11, 38, 92) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
   h2{
    left: 10%;
    font-weight: 800;
    text-align: center;
  }
  .para{
    margin-left: 10%;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
  }
  img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 30px;
}
h5 {
  color: white;
  
}
.name{
  margin: 10px;
  margin-top: -60px;
margin-left:80px;  
padding: -2px 0;
}



.r3{
  margin:50px 0 200px 0;
}

.r4{
  margin:50px 0 200px 0;
}

.r5{
  margin:50px 0 200px 0;
}

@media screen and (max-width: 768px) {
  .content1, .content2, .content3, .content4, .content5, .content6{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .box1, .box2, .box3, .box4, .box5, .box6{
  width:100%;
  height: auto;
  position: absolute;
  text-overflow: hidden;
  }
  .para{
    font-size: 15px;
  }
}