body{
    margin: 0;
    padding: 0;
}
.hamburger-menu{
    height: 40px;
    padding-top: -30px;
    color: white;
    right: 10px;
    position: absolute;
}@media screen and (max-width: 600px) {
    .hamburger-menu{
        visibility: visible;
        height: 30px;
        width: 30px;
      
    }
    .header p .menu-items{
        visibility: hidden;
    }
    .header .title{
        font-size: 20px;
    }

    .avenue-highlights, .project-highlights, .pro-details{
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (min-width: 601px) {
    .hamburger-menu{
        visibility: hidden;
    }
    .header p .menu-items{
        visibility:visible;
    }

 
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    padding :10px;
    margin-top: -4px;
    margin-left: 2px;
}

.header{
    
    background-color:rgb(11, 38, 92);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    
} 
.header a:link,a:visited{
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: -5px;
    display: block;
    text-decoration: none;
}
a:hover{

    color: #FFD43B;   
}
.icon{
    padding: 25px 0;
    
}

#hometext{
    text-align: center;
    font-size: 160px;
    font-weight: 600px;
    color: white;
   
}
.homepages a{
    padding: 0 10px;
}

video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    video{
        width: auto;
        height: 100%;
    }
}

/* launch project avenue details */
.ave-text,.pro-details {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   margin: 90px 0;
}
.pro-details {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   margin: 90px 0;
   max-width: 1300px;
   text-align:center;
}
.avenue-highlights{
   
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
   }
   .avenue-highlights .ave-text{
    max-width: 500px;
    

   }
.avenue-highlights h2{
    color: rgb(11, 38, 92);
}
.new-project p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 90px 0;
    color:  rgb(11, 38, 92);
    max-width: 1300px;
    text-align: center;
}
.project-highlights{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   padding: 30px;
   margin-left: 20px;
}

   
/* footer styling */
.foot{
    background-color: rgb(5, 20, 49);
    color: White;
    margin-top:200px;
}
@media screen and (max-width: 600px){
    .foot .container{
        display: flex;
        flex-wrap: wrap;

    }
}
.foot .box{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    width: 300px;
    
}
.foot .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    
}
.foot .grid{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    width: 300px;

}
.foot h3{
    color:#FFD43B ;
}
.foot .contact-img{
    height: 20px;
}