/*common styling of all the pages like 
body {
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
    padding :10px;
    margin-top: -4px;
    margin-left: 2px;
}
.header{
    
    background-color:rgb(11, 38, 92);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
} 
a:link,a:visited{
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: -5px;
    display: block;
    text-decoration: none;
}
a:hover{

    color: #FFD43B;   
}
.icon{
    padding: 25px 0;
    
}
@media(max-width:1200px){
    html{
        font: size 55%;
    }
}
@media only screen and(max-width:1050px & min-width:600px ){
    body{
        padding:2px;

    }
    .header{
        height: 150px;
    }
    }
    @media (max-width:700px){
        header .header1{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            background-color: rgb(11, 38, 92);
            border-top: 1 px solid black;
        }
        }





 
